.btn_container-center-papa {
  display: flex;
  justify-content: center;
  align-items: center;
}

.changePassword-text-new-password {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin-top: 1rem;
  /* margin-bottom: 0.5rem; */
}

.changePassword-text-new-password:hover {
  font-weight: 650;
}

.input_user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 32vh;
  padding: 18px;
  border: 1px solid #e3e4e5;
  border-radius: 12px;
  font-size: 16px;
  background-color: var(--header-bg-color);
}

.input_user:hover {
  cursor: pointer;
  box-shadow: 1px 1px 5px 1px var(--btn-bg-color);
}

.password_container_form-current-new-confirm {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  padding: 2px;
  gap: 18px;
}

.btn_profile_general {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 30px;
  height: 39px;
  width: 270px;
  background-color: var(--btn-bg-color);
  color: white;
  font-size: 16px;
  transition: linear 0.2s;
  margin: 16px 0 16px 0px;
}

.btn_profile_general:hover {
  /* border-bottom: 1.5px solid #25d366; */
  border-bottom: 1.5px solid var(--btn-bg-color);
  background-color: var(--header-bg-color);
  /* background-color: rgb(250, 250, 250); */
  /* color: #25d366; */
  color: var(--btn-bg-color);
  font-size: 18px;
  cursor: pointer;
}

.btn_profile_general-my-expe {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  border-bottom: 1.5px solid #25d366;
  border-radius: 30px;
  height: 39px;
  width: 270px;
  background-color: rgb(250, 250, 250);
  color: #25d366;
  font-size: 16px;
  transition: linear 0.2s;
  margin: 18px 18px 18px;
}

.btn_profile_general-my-expe:hover {
  border-bottom: 1.5px solid #25d366;
  color: #25d366;
  font-size: 18px;
  cursor: pointer;
}

@media only screen and (max-width: 880px) {
  .btn_profile_general {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 30px;
    height: 39px;
    width: 154px;
    background-color: var(--btn-bg-color);
    color: white;
    font-size: 12px;
    transition: linear 0.2s;
    margin: 36px 0px 30px 0px;
  }

  .btn_profile_general:hover {
    border-bottom: 1.5px solid #25d366;
    background-color: rgb(250, 250, 250);
    color: #25d366;
    font-size: 12px;
    cursor: pointer;
  }

  .password_container_form-current-new-confirm,
  .input_user {
    display: flex;
    flex-direction: column;
    width: 210px;
    padding: 0px;
    margin: 0px;
  }

  .input_user {
    width: 210px;
    padding: 9px;
  }

  .changePassword-text-new-password {
    font-size: 16px;
  }

  .changePassword-text-new-password:hover {
    font-weight: 650;
  }

  .btn_profile_general-my-expe {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    border-bottom: 1.5px solid #25d366;
    border-radius: 30px;
    height: 39px;
    width: 360px;
    background-color: rgb(250, 250, 250);
    color: #25d366;
    font-size: 16px;
    transition: linear 0.2s;
    margin: 18px 18px 18px;
  }
}
